
<div class="team-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center" style="width: 510px;">
        The Support team is here to help.
      </h2>
      <p class="text-center">
        Our current response time is about 10 minutes.
      </p>
    </div>
    <div class="row people">
      <div
        class="col-md-6 col-lg-4 col-xl-2 offset-xl-1 item"
        style="width: 300px;"
      >
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Aayush</h3>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-2 offset-xl-0 item"
        style="width: 300px;"
      >
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Bhanu</h3>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-2 item" style="width: 300px;">
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Sai</h3>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-2 offset-xl-0 item"
        style="width: 300px;"
      >
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Shivam</h3>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-2 offset-xl-0 item"
        style="width: 300px;"
      >
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Thoufiq</h3>
      </div>
    </div>
  </div>
</div>
<div class="contact-clean">
  <form method="post">
    <h2 class="text-center">Contact us</h2>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="Name"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control is-invalid"
        type="email"
        name="email"
        placeholder="Email"
      /><small class="form-text text-danger"
    >Please enter a correct email address.</small
    >
    </div>
    <div class="form-group">
          <textarea
            class="form-control"
            name="message"
            placeholder="Message"
            rows="14"
          ></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">send</button>
    </div>
  </form>
</div>
