<div class="team-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Team</h2>
      <p class="text-center">
        Thanks for taking your time to visit the Teams page. This is the
        team of IBM trainees who worked on the project.
      </p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Aayush Sharma</h3>
        <p class="title">Developer</p>
        <p class="description">
          This is a temporary Description of the team member, will be updated
          shortly.
        </p>
        <div class="social">
          <a href="#"><i class="fa fa-facebook-official"></i></a
          ><a href="#"><i class="fa fa-twitter"></i></a
        ><a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Bhanu Kiran</h3>
        <p class="title">Developer</p>
        <p class="description">
          This is a temporary Description of the team member, will be updated
          shortly.
        </p>
        <div class="social">
          <a href="#"><i class="fa fa-facebook-official"></i></a
          ><a href="#"><i class="fa fa-twitter"></i></a
        ><a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-xl-0 item">
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Sai Krishna</h3>
        <p class="title">Developer</p>
        <p class="description">
          This is a temporary Description of the team member, will be updated
          shortly.
        </p>
        <div class="social">
          <a href="#"><i class="fa fa-facebook-official"></i></a
          ><a href="#"><i class="fa fa-twitter"></i></a
        ><a href="https://www.instagram.com/saikrishna_reddy_ragula/"
        ><i class="fa fa-instagram"></i
        ></a>
        </div>
      </div>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 offset-xl-1 item">
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Shivam Kumar</h3>
        <p class="title">Developer</p>
        <p class="description">
          This is a temporary Description of the team member, will be updated
          shortly.
        </p>
        <div class="social">
          <a href="#"><i class="fa fa-facebook-official"></i></a
          ><a href="#"><i class="fa fa-twitter"></i></a
        ><a href="https://www.instagram.com/shivamkumar116/"
        ><i class="fa fa-instagram"></i
        ></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-xl-2 item">
        <img class="rounded-circle" src="../../../assets/images/AvtarNew.png" />
        <h3 class="name">Thoufiq Ali</h3>
        <p class="title">Developer</p>
        <p class="description">
          This is a temporary Description of the team member, will be updated
          shortly.
        </p>
        <div class="social">
          <a href="https://www.facebook.com/profile.php?id=100004220988601"
          ><i class="fa fa-facebook-official"></i></a
          ><a href="https://twitter.com/ithoufiqali"
        ><i class="fa fa-twitter"></i></a
        ><a href="https://www.instagram.com/ali_thoufiq_/"
        ><i class="fa fa-instagram"></i
        ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
