<div class="container-fluid py-5">
  <div class="row">
    <div class="col-lg-2">
      <div class="filter">
        <h2>Filters</h2>
        <form>
          <select>
            <option value="">Type</option>
            <option value="">1 BHK</option>
            <option value="">2 BHK</option>
            <option value="">3 BHK</option>
          </select>

          <select>
            <option value="">Price</option>
            <option value="">1000-5000</option>
            <option value="">5000-10000</option>
            <option value="">>10000</option>
          </select>
          <select>
            <option value="">Choose City</option>
            <option value="">Bangalore</option>
            <option value="">Hyderabad</option>
            <option value="">Kolkata</option>
            <option value="">Mumbai</option>
            <option value="">Pune</option>
          </select>
          <input
            type="button"
            value="Apply filters"
            class="btn btn-outline-mycolor btn-sm"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-10">
      <h2 class="font-weight-bold mb-2">Properties</h2>

      <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 1</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>

              <a routerLink="/view" class="btn btn-outline-mycolor"
              >See more</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 2</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>
              <input
                type="button"
                class="btn btn-outline-mycolor"
                value="see more"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 3</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>

              <input
                type="button"
                class="btn btn-outline-mycolor"
                value="see more"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 4</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>
              <input
                type="button"
                class="btn btn-outline-mycolor"
                value="see more"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 1</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>
              <input
                type="button"
                class="btn btn-outline-mycolor"
                value="see more"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 2</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>
              <input
                type="button"
                class="btn btn-outline-mycolor"
                value="see more"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 3</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>
              <input
                type="button"
                class="btn btn-outline-mycolor"
                value="see more"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="https://cdn.pixabay.com/photo/2016/11/29/03/53/architecture-1867187_1280.jpg"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5><a href="#" class="text-dark">Property 4</a></h5>
              <p class="small text-muted font-italic">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <p class="small text-muted font-italic">
                Price : 4500/-
              </p>
              <input
                type="button"
                class="btn btn-outline-mycolor"
                value="see more"
              />
            </div>
          </div>
        </div>
        <nav class="mx-auto my-5">
          <ul class="pagination w-100">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous"
              ><span aria-hidden="true">«</span></a
              >
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next"
              ><span aria-hidden="true">»</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
