<div class="container mt-4">
  <div class="slider">
    <div class="load"></div>
    <div class="content">
      <div class="principal">
        <h1>Tu Caurto</h1>
        <p>Dream homes are affordable now.</p>
        <p>Find your dream home right here !</p>
      </div>
    </div>
  </div>
</div>

<div class="article-list">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Why use Tu Caurto</h2>
      <p class="text-center">
        We at Tu Caurto try our best to provide genuine properties on our
        site. We enable our customers to connect with the Property owner
        with just a click. At every stage of the platform, the best
        experience of our customers is prioritized.
      </p>
    </div>
    <div class="row articles">
      <div class="col-sm-6 col-md-4 item">
        <a href="#"
        ><img class="img-fluid" src="../../../assets/images/avoid.png"
        /></a>
        <h3 class="name">Avoid Brokers</h3>
        <p class="description">
          We directly connect you to verified owners to save brokerage which
          may cost alot.
        </p>
        <a class="action" href="#"></a>
      </div>
      <div class="col-sm-6 col-md-4 item">
        <a href="#"
        ><img class="img-fluid" src="../../../assets/images/free-listing.png"
        /></a>
        <h3 class="name">Fee Listing</h3>
        <p class="description">
          Easy Listing process. Also you can provide your other social
          connectivity details, where customers can contact you.
        </p>
        <a class="action" href="#"></a>
      </div>
      <div class="col-sm-6 col-md-4 item">
        <a href="#"
        ><img class="img-fluid" src="../../../assets/images/shortlist.png"
        /></a>
        <h3 class="name">Shorlist without Visit</h3>
        <p class="description">
          We make your experience much better, by providing all the details
          and images of the properties based on the filters you provide.
        </p>
        <a class="action" href="#"></a>
      </div>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
